body {
  font-size:40px;
  font-family: Georgia;
}

p {
  background-color: #000000;
  color: #FFFFFF;
  margin-bottom: 0px;
}
.social_media {
  background-color: #444444;
  font-size: 20px
}

.fib a {
  height: 50px;
  -moz-border-radius: 10px 10px 10px 10px;
  text-indent: 20px;
}

a {
  text-decoration:none
}

a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#AA00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

