body {
  font-family: Georgia;
}

p {
  font-size:50px;
  background-color: #dddddd;
  margin-bottom: 0px;
}

p.name {
  font-size:60px;
  background-color: #bbbbbb;
  margin-bottom: 0px;
  text-indent: 20px;
}

.fib a {
  height: 50px;
  -moz-border-radius: 10px 10px 10px 10px;
  text-indent: 20px;
}

a {
  text-decoration:none;
}

a:hover {
  color:#000000;
}  /* mouse over link */
p:hover {
  background-color: #bbbbbb;
}
p.name:hover {
  background-color: #bbbbbb;
}
